extends layout

block morescripts
    script(type="text/javascript", src="/javascripts/public-r3.client.js")

block content
    .container-fluid
        .alert.alert-info.alert-dismissible#program-full(style="display: none") The TAP R3 ring is at capacity. You will not be able to submit any further requests.

        .form#form(method='POST')
            h1.display-4.m-b-2 TAP Provisioning Requests - Ring 3 Users
            p Your tenant information (auto-detected):
            label(for="company") Company Name
            input.company.form-control(type='text', placeholder='Company Name' name='company' autocomplete='off' style="width: 400px" disabled)
            label(for="tenantId") Tenant ID
            input.tenantId.form-control#tenantIdField(type='text', placeholder="TenantID" name="tenantId" autocomplete="off" style="width: 400px" disabled  pattern='([a-f]|[0-9]){8}-([a-f]|[0-9]){4}-([a-f]|[0-9]){4}-([a-f]|[0-9]){4}-([a-f]|[0-9]){12}')
            label(for="validation") Validation Interest
            select.validation.form-control#validationSelect(name="validation", style="width: 400px")
                option(selected) 
            br
            
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle="collapse" href="#collapse1")#getR3Users View the R3 users already provisioned in this tenant
                #collapse1.panel-collapse.collapse
                    .panel-body
                        ol#r3Users
            
            br
            .panel.panel-default
                .panel-heading
                    h4.panel-title 
                        a(data-toggle="collapse" href="#collapse2") View steps to get a user's Object ID
                #collapse2.panel-collapse.collapse
                    .panel-body
                        p Launch Remote Powershell and connect to your tenant
                        pre $User = Get-Credential (enter your Tenant Admin credentials)
                        pre Connect-MsOlService -Credential $User
                        p Get the ObjectId of the user's account
                        pre Get-MsOlUser -UserPrincipalName {username@domain.onmicrosoft.com} | fl UserPrincipalName,ObjectId
            p Enter the details of the user you want to be provisioned/de-provisioned in Ring 3 (TAP Ring) on the next provisioning date.
            p Rather than typing each one in, you can copy several entries and paste them directly into this form. You can copy multiple columns and rows from a spreadsheet, too.
            p #[strong Please limit your submissions to 2 per month.]
            .alert.alert-warning#limitText(style="display: none") 
                p You can only have 50 users in R3.
            table.table.table-striped.table-bordered#form-table
                thead
                    tr
                        td #[strong Add/Remove] 
                            span(style="color: red") (*)
                        td #[strong User's Name] 
                            span(style="color: red") (*)
                        td #[strong Email] 
                            span(style="color: red") (*)
                        td #[strong ObjectID] 
                            span(style="color: red") (*)
                        td #[strong Position] 
                        td #[strong Department] 
                        td    
                tbody
                    tr.form-row
                        td
                            select.addRemove.form-control(name="addRemove")
                                option(value="Add") Add
                                option(value="Remove") Remove
                        td
                            input.name.form-control(type='text', placeholder='Name' name='name' required)
                        td
                            input.email.form-control(type='email', placeholder='name@domain.com' name='email' required)
                        td
                            input.objectId.form-control(type='text', placeholder='ObjectID' name='objectId' title="Please enter a valid ObjectID." required pattern='([a-f]|[0-9]){8}-([a-f]|[0-9]){4}-([a-f]|[0-9]){4}-([a-f]|[0-9]){4}-([a-f]|[0-9]){12}')
                        td
                            input.position.form-control(type='text', placeholder='Position' name='position')
                        td
                            input.department.form-control(type='text', placeholder='Department' name='department')
                        td
                            span.glyphicon.glyphicon-plus.adder

        .alert.alert-success(style="display: none")
            p Your requests were submitted! You will receive a confirmation email.

        .btn-container
            button.btn.btn-teams#submitForm(type='submit' disabled) Submit